{% extends 'navAdmin.html' %}
{% load static %}

{% block content %}

<!-- ADMIN : Tambah Item -->
<section>
	<div class='container'>
		<div class = "partsTitleText text-left">Tambah Item</div><br>
		 <div class="col-lg-12">
			  <form action="/success-add-item/" method="POST" id="form_tambah_item">
				<div class="row">
				  <div class="col-md-6">

					<div class="form-group">
						<p style='color:white'>Nama:</p>
						<input class="form-control" name="nama_item" id="namaItem" type="text" required="required" placeholder="nama item">
					</div>
						
					<div class="form-group">
						<p style='color:white'>Deskripsi:</p>
						<input class="form-control" name="deskripsi" id="Deskripsi" type="text" placeholder="deskripsi item">
					</div>                
					
					<p style='color:white'>Rentang Usia:</p>
						<div class="form-inline">
							<div class="form-group col-xs-5">
								<input name="usia_dari" id="usiaDari" required="required" class="form-control input-group-lg reg_name" type="text" placeholder="usia dari">
							</div>

							<div class="form-group col-xs-2">
								<input name="usia_sampai" id="usiaSampai" required="required" class="form-control input-group-lg reg_name" type="text" placeholder="usia sampai">
							</div>
						</div><br>
					
					<div class="form-group">
						<p style='color:white'>Bahan:</p>
						<input class="form-control" name="bahan" id="Bahan" type="text" placeholder="bahan item">
					</div>  
					
					<div class="form-group">
						<p style='color:white'>Kategori:</p>
						<select name="kategori" class="selectpicker" multiple data-actions-box="true" data-width="100%">
							{% for k in kategori %}
								<option>{{k.0}}</option>
							{% endfor %}
						</select>
					</div>  
								
					<br>
					<button id="sendMessageButton" class="btn btn-primary btn-lg text-uppercase" type="submit">Submit</button>
					
					</div>
					
					<div class="col-md-1"></div>
					<div class="col-md-5">
					<img style='padding: 50px 40px 15px 10px;' class="img-fluid rounded-circle mb-3" src="{% static 'add.jpg' %}" alt="">
					</div>

				</div>
			  </form>
			</div>
		</div>
	</div>
</section>
{% endblock content %}