{% extends 'navAdminAdel.html' %}
{% load static %}

{% block content %}
<!-- ADMIN : Daftar Item-->
<section>


	<div class='container'>
		<div class = "partsTitleText text-left">Daftar Item</div><br>

		<!-- Table -->
		<table id="table_item" data-toggle="table" data-filter-control="true" style='color:white' >
			<thead>
				<tr>
					<th scope="col">No.</th>
					<th scope="col" data-sortable="true">Nama Item</th>
					<th scope="col" data-sortable="true" data-filter-control="input">Kategori</th>
					<th scope="col">Action Barang</th>
				</tr>
			</thead>

			<tbody>
				{% for ik in item_kategori %}
					<tr>
						<td scope="row">1</td>
						<td>{{ik.0}}</td>
						<td>{{ik.1}}</td>
						<td>
							<a id="lihat-barang" class="btn btn-info text-uppercase" type="button" href='#'>Lihat</a>
							<a id="update-barang" class="btn btn-primary text-uppercase" type="button" data-toggle="modal" data-target="#updateModal">Update</a>
							<a id="delete-barang" class="btn btn-danger text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Delete</a>
							<a id="add-barang" class="btn btn-success text-uppercase" type="button" href='/add-item/'>Add</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<!-- Delete Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><br></h5>
				</div>

				<div class="modal-body"><br>Are you sure want to delete this item?<br><br></div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss='modal'>YES</button>
					<button type="button" class="btn btn-danger" data-dismiss='modal'>CANCEL</button>
				</div>
				</div>
			</div>
		</div>

		<!-- Update Modal -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Update Item</h5>
					</div>
					<div class="modal-body">Item: Kuda-kudaan<br>Deskripsi: kuda poni<br>Rentang Usia: 5-10 tahun<br> Bahan: Kayu<br> Kategori: Anything</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss='modal'>CANCEL</button>
						<button type="button" class="btn btn-primary" data-dismiss='modal'>UPDATE</button>
					</div>
				</div>
			</div>
		</div>
				
		<!-- Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center" style="margin:20px 0">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
					</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>	
</section>
{% endblock content %}