{% extends 'navAdminAdel.html' %}
{% load static %}

{% block content %}
<!-- ADMIN: Profile-->
<section style='color:white'>
	<div class='container'>
		<div class = "partsTitleText text-left">My Profile</div><br>
		{% for d in data %}
			<p>- <i class="fas fa-id-card-alt"></i> - {{ d.0 }} </p>
			<p>- <i class="fas fa-user"></i> - {{ d.1 }} </p>
			<p>- <i class="fas fa-envelope-square"></i> - {{ d.2 }} </p>
			<p>- <i class="fas fa-calendar-minus"></i> - {{ d.3 }} </p>
			<p>- <i class="fas fa-phone-square"></i> - {{ d.4 }} </p>
		{% endfor%}
	</div>			
</section>
{% endblock content %}
	