{% extends 'navAnggotaAdel.html' %}
{% load static %}

{% block content %}
<!-- ANGGOTA: Daftar Barang-->
<section>
	<div class='container'>
		<div class = "partsTitleText text-left">Daftar Barang</div><br>
		
		<!-- Table -->
		<table class="table" style='color:white'>
			<thead>
				<tr>
					<th scope="col">ID Barang</th>
					<th scope="col">Nama Item</th>
					<th scope="col">Warna</th>
					<th scope="col">Kondisi</th>
					<th scope="col">Action Barang</th>	
				</tr>
			</thead>

			<tbody>
				{% for b in barang %}
					<tr>
						<td scope="row">{{b.0}}</td>
						<td>{{b.1}}</td>
						<td>{{b.2}}</td>
						<td>{{b.4}}</td>
						<td>
							<a id="update-pesanan" class="btn btn-info text-uppercase" type="button" data-toggle="modal" data-target="#detailModal">Detail</a>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="defaultUnchecked">
								<label class="custom-control-label" for="defaultUnchecked">Pilih Barang</label>
							</div>						
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	
		<!-- Detail Modal -->
		<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Detail Item</h5>
					</div>
					<div class="modal-body">
						id_barang: 1<br>
						Nama item: A <br> 
						Warna: B<br> 
						Url foto: foto<br> 
						Kondisi: Tersedia <br>
						Lama Penggunaan:5 <br>
						Pemilik: Saya<br><br>

						Info Barang<br>
						Persen Royalty (bronze): 5% Harga Sewa: Rp 35.000/minggu<br> 
						Persen Royalty (silver): 10% Harga Sewa: Rp 25.000/minggu<br> 
						Persen Royalty (gold): 15% Harga Sewa: Rp 20.000/minggu<br>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss='modal'>OK</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
					</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
					</a>
				</li>
			</ul>
		</nav>
		
	</div>
</section>
{% endblock content %}