{% extends 'navHome.html' %}
{% load static %}

{% block content %}
<!-- Header -->
<header class="masthead" style='color:white'>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome to ToysRent!</div>
      <div class="intro-heading text-uppercase">It's Nice to Meet You</div>
      <a class="btn btn-primary btn-lg text-uppercase js-scroll-trigger" href="#services">Explore Us</a>
    </div>
  </div>
</header>

<!-- About -->
<section style="background-color:white" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Who are We?</h2>
        <h3 class="section-subheading text-muted">
          <b>ToysRent</b> is a children's toy and accessories rental application. <br>
          We provide you various kinds of toys and accessories that can boost your child's happiness.
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <img class="img-fluid rounded-circle mb-3" src="{% static 'about/uptodate.png' %}" alt="">
        <h4 class="service-heading">Up-to-date</h4>
        <p class="text-muted">Get the latest version of toys and accesories only in ToysRent!</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <img class="img-fluid rounded-circle mb-3" src="{% static 'about/affordable.png' %}" alt="">
        <h4 class="service-heading">Affordable</h4>
        <p class="text-muted">No need to worry to buy new toys. <br>Just be a member and get a rented toys here!</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <img class="img-fluid rounded-circle mb-3" src="{% static 'about/get-money.png' %}" alt="">
        <h4 class="service-heading">Get money</h4>
        <p class="text-muted">Be an admin and make money by renting out your toys!</p>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Meet our Team!</h2>
    <div class="row">
      <div class="col-lg-3">
    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
    <img class="img-fluid rounded-circle mb-3" src="{% static 'team/adel.jpg' %}" alt="adel">
    <h5>Adel</h5>
    <p class="font-weight-light mb-0">"ToysRent copes you child's sadness away"</p>
    </div>
      </div>
      <div class="col-lg-3">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{% static 'team/afrah.jpg' %}" alt="afrah">
          <h5>Afrah</h5>
          <p class="font-weight-light mb-0">"ToysRent is the bomb"</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{% static 'team/3.jpg' %}" alt="cici">
          <h5>Cici</h5>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{% static 'team/rindu.jpg' %}" alt="rindu">
          <h5>Rindu</h5>
          <p class="font-weight-light mb-0">"It's great to make this ToysRent!"</p>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <h2 class="section-footer">© ToysRent | Depok, West Java, Indonesia</h2>
  <h3 class="section-footer">- Team D9 Database 2019 -</h3>
</section>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'jqBootstrapValidation.js' %}"></script>
<script src="{% static 'contact_me.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'agency.min.js' %}"></script>
{% endblock content %}