{% extends 'navHome.html' %}
{% load static %}

{% block content %}
<!-- ANGGOTA : Login -->
<section style='background-color:#212529'>
	<div class='container'>
		<div class = "partsTitleText text-left">Login Anggota</div><br>

		<!-- Warning message -->
		{% if messages %}
			{% for m in messages %}
				<div class="alert {{ m.tags }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="OK">
						<span aria-hidden="true">&times;</span>
					</button>
					<div style='color:#fec503'>{{ m }}</div>
				</div>
			{% endfor %}
		{% endif %}

		<div class="col-lg-12">
			<form action="/lmember-process/" method="POST" id="form_login_anggota">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<p style='color:white'>No KTP:</p>
							<input class="form-control" name="no_ktp" id="noKTP" type="text" required="required" placeholder="000-111-222">
						</div>
						
						<div class="form-group">
							<p style='color:white'>Email:</p>
							<input class="form-control" name="email" id="eMail" type="email" required="required" placeholder="example@mail.com">
							<p class="help-block text-danger"></p>
						</div>                
						
						<br>
						<button id="sendMessageButton" class="btn btn-primary btn-lg text-uppercase" type="submit">Login</button>
					</div>
					
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<img style='padding: 0px 70px 15px 40px;' class="img-fluid rounded-circle mb-3" src="{% static 'lmember.jpeg' %}" alt="">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock content %}