{% extends 'navAnggotaAdel.html' %}
{% load static %}

{% block content %}
<!-- ANGGOTA: Profile-->
<section style='color:white'>
	<div class='container'>
		<div class = "partsTitleText text-left">My Profile</div><br>
		{% for p in pengguna %}
			<p>- <i class="fas fa-id-card-alt"></i> - {{ p.0 }} </p>
			<p>- <i class="fas fa-user"></i> - {{ p.1 }} </p>
			<p>- <i class="fas fa-envelope-square"></i> - {{ p.2 }} </p>
			<p>- <i class="fas fa-calendar-minus"></i> - {{ p.3 }} </p>
			<p>- <i class="fas fa-phone-square"></i> - {{ p.4 }} </p>
		{% endfor%}

		{% for a in alamat %}
			<p>- <i class="fas fa-home"></i> - {{ a.2 }}, {{ a.3 }}, {{ a.4 }}, {{ a.5 }} </p>
		{% endfor%}

		{% for pl in poin_level %}
			<p>- <i class="fas fa-donate"></i> - {{ pl.1 }} </p>
			<p>- <i class="fas fa-star"></i> - {{ pl.2 }} </p>
		{% endfor%}
	</div>			
</section>
{% endblock content %}