{% extends 'navAnggotaAdel.html' %}
{% load static %}

{% block content %}
<!-- ANGGOTA : Daftar Item -->
<section>
	<div class='container'>
		<div class = "partsTitleText text-left">Item List</div><br>
		
		<!-- Table -->
		<table class="table" data-toggle="table" data-filter-control="true" style='color:white'>
			<thead>
				<tr>
					<th scope="col">No.</th>
					<th scope="col" data-sortable="true">Nama Item</th>
					<th scope="col" data-sortable="true" data-filter-control="input">Kategori</th>
					<th scope="col">Action Item</th>

				</tr>
			</thead>

			<tbody>
				{% for ik in item_kategori %}
					<tr>
						<td scope="row">1</td>
						<td>{{ik.0}}</td>
						<td>{{ik.1}}</td>
						<td>
							<a id="lihat-item" class="btn btn-info text-uppercase" type="button" href='#'>Lihat</a>
						</td>
					</tr>
				{% endfor %}

				<tr>
					<th scope="row">2</th>
					<td>Item B</td>
					<td>Kategori B</td>
					<td>
						<a id="lihat-item" class="btn btn-info text-uppercase" type="button" href='#'>Lihat</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<!-- Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
				</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
				</a>
			</li>
			</ul>
		</nav>
	</div>	
</section>
{% endblock content %}