 <!-- Navigation Anggota-->
 <!--
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" id = "brandAdmin" href="/home/">ToysRent</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
         <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="#services">Profil</a>
		  </li>
		  
		  <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="#services">Item</a>
		  </li>
			  
		  <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="#services">Barang</a>
		  </li>
		  
		  <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pemesanan</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="/add-item/">Tambah Pemesanan</a>
				<a class="dropdown-item" href="/admin-item-list/">Daftar Pemesanan</a>
            </div>
          </li>		  
		  
		  <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pengiriman</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="#">Tambah Pengiriman</a>
				<a class="dropdown-item" href="#">Daftar Pengiriman</a>
            </div>
          </li>		
		  
		  <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="#services">Chat</a>
		  </li>		  
		  
		  <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="#services">Review</a>
		  </li>
		  			  
		  <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="#services">Logout</a>
		  </li>
		  
        </ul>
      </div>
    </div>
	</nav>	
	-->