{% extends 'navHome.html' %}
{% load static %}

{% block content %}
<!-- ADMIN : Registrasi -->
<section style='background-color:#212529'>
	<div class='container'>
		<div class = "partsTitleText text-left">Registrasi Admin</div><br>

		<!-- Warning message -->
		{% if messages %}
			{% for m in messages %}
				<div class="alert {{ m.tags }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="OK">
						<span aria-hidden="true">&times;</span>
					</button>
					<div style='color:#fec503'>{{ m }}</div>
				</div>
			{% endfor %}
		{% endif %}

		<div class="col-lg-12">
			<form action="/radmin-process/" method="POST" id="form_regis_admin">
				<div class="row">
					<div class="col-md-6">
						{% csrf_token %}
						<div class="form-group">
							<p style='color:white'>No KTP:</p>
							<input class="form-control" name="no_ktp" id="noKTP" type="text" required="required" placeholder="000-111-222">
							<p class="help-block text-danger"></p>
						</div>
				
						<div class="form-group">
							<p style='color:white'>Nama Lengkap:</p>
							<input class="form-control" name="nama_lengkap" id="namaLengkap" type="text" required="required" placeholder="Avril Ramona Lavigne">
							<p class="help-block text-danger"></p>
						</div>
					
						<div class="form-group">
							<p style='color:white'>Email:</p>
							<input class="form-control" name="email" id="eMail" type="email" required="required" placeholder="outerspace@mail.com">
							<p class="help-block text-danger"></p>
						</div>                
					
						<div class="form-group">
							<p style='color:white'>Tanggal Lahir:</p>
							<input class="form-control" name="tgl_lahir" id="tglLahir" type="date">
							<p class="help-block text-danger"></p>
						</div>
						
						<div class="form-group">
							<p style='color:white'>No Telepon:</p>
							<input class="form-control" name="no_telp" id="noTelp" type="tel" placeholder="081234567890">
							<p class="help-block text-danger"></p>
						</div>
				
						<br>
						<!-- <button id="registadmin" class="btn btn-primary btn-lg text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Submit</button> -->
						<button id="button_regis_admin" class="btn btn-primary btn-lg text-uppercase" type="submit">Submit</button>


					</div>
					
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<img style='padding: 50px 40px 15px 10px;' class="img-fluid rounded-circle mb-3" src="{% static 'radmin.jpg' %}" alt="">
					</div>

					

				</div>
			</form>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Congratulation!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				You have successfully registered. <br>You are now officially part of us.
				<br><br>Thank you for trusting ToysRent.<br>Have a good journey💖💖
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss='modal'>OK</button>
			</div>
		</div>
	</div>
</div>
{% endblock content %}