{% extends 'navAdmin.html' %}
{% load static %}

{% block content %}
<!-- ADMIN : Buat Pesanan -->
<section>
<div class='container'>
	<div class = "partsTitleText text-left">Create Pesanan</div><br>
	<div class="col-lg-12">
		<form id="pesananForm" name="sentMessage" novalidate="novalidate"method="POST" action="/add-new-pesanan/">
			<div class="row">
				<div class="col-md-6">
					<!-- if yg login admin -->
					<div class="form-group">
						<p style='color:white'>Anggota:</p>
						<select class="selectpicker" multiple data-actions-box="true" data-width="100%" name = "pemesan">
							{% for anggota in anggotas %}
							<option>{{anggota.0}}</option>
							{% endfor %}
						</select>                          
					</div>

					<div class="form-group">
						<p style='color:white'>Barang:</p>
						<select class="selectpicker" multiple data-actions-box="true" data-width="100%" name = "barang">
							{% for barang in barangs %}
							<option>{{barang.0}}</option>
							{% endfor %}
					</select> 
					</div>

					<div class="form-group">
						<p style='color:white'>Lama sewa:</p>
						<input class="form-control" type="text"name = "lama_sewa" required="required" data-validation-required-message="Please enter item name.">
						<p class="help-block text-danger"></p>
					</div>

					<br>
					<button id="sendMessageButton" class="btn btn-primary btn-lg text-uppercase" type="submit">Submit</button>
				</div>
				
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<img style='padding: 50px 40px 15px 10px;' class="img-fluid rounded-circle mb-3" src="{% static 'add.jpg' %}" alt="">
				</div>
			</div>
		</form>
	</div>
</div>
</section>
{% endblock content %}