
  {% extends 'navAnggota.html' %}
  {% load static %}
  
   {% block content %}
   <!-- Header -->
  <header class="masthead">
      <section>
  <div class='container'>
    <div class = "partsTitleText text-left">Form Pembuatan Pengiriman</div><br>
     <div class="col-lg-12">
        <form action="{% url 'createShipmentAnggota' %}" id="contactForm" name="sentMessage" novalidate="novalidate" method="POST">

        <div class="row">
          <div class="col-md-6">
            
        <div class="form-group">
                    <p style='color:white'>Barang Pesanan:</p>
                    <div class="dropdown">
          <select class="custom-select d-block w-100" id="nama-item" name="barang" required>
            <option value="">Pilih Barang</option>
            {% for barang in barangs %}
              <option value="{{barang.nama_item}}">{{barang.nama_item}}</option>
            {% endfor %}
          </select>
        </div>
                  </div>

        <div class="form-group">
                    <p style='color:white'>Alamat Tujuan:</p>
                    <div class="dropdown">
          <select class="custom-select d-block w-100" id="nama-item" name="alamat" required>
            <option value="">Pilih Alamat</option>
            {% for alamat in allAlamat %}
              <option value="{{alamat.nama}}">{{alamat.nama}}</option>
            {% endfor %}
          </select>
        </div>
                  </div>


          <div class="form-group">
            <p style='color:white'>Tanggal Pengiriman:</p>
            <input class="form-control" id="name" name="tanggal" type="text" placeholder="Tanggal hari ini *" required="required" data-validation-required-message="Masukkan tanggal pengiriman.">
            <p class="help-block text-danger"></p>
          </div>
          
          <div class="form-group">
            <p style='color:white'>Metode:</p>
            <input class="form-control" id="name" name="metode" type="text" placeholder="Masukkan metode yang digunakan *" required="required" data-validation-required-message="Masukkan metode.">
            <p class="help-block text-danger"></p>
          </div>
                  
          <br>
          <button id="registadmin" class="btn btn-primary btn-lg text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Submit</button>
          
          </div>
          
          <div class="col-md-1"></div>
          <div class="col-md-5">
          <img style='padding: 20px 40px 15px 10px;' class="img-fluid rounded-circle mb-3" src="{% static 'pic/1.jpg' %}" alt="">
          </div>

        </div>
        </form>
      </div>
          
    </div>
    </div>
  </section>

  <!-- nampilin di list -->
  <!-- {% for status in statuses %}
  <p>{{ status.nama }}</p>
  {% endfor %} -->

  </header>    
  {% endblock content %}