{% extends 'navAnggota.html' %}
{% load static %}

 {% block content %}
  
  
  <!-- Item list table-->
  <section>
  
    <div class='container'>
      <div class = "partsTitleText text-left">Daftar List</div><br>
      
      <!-- Table -->
      <table class="table" style='color:white'>
        <thead>
        <tr>
          <th scope="col">Id Pengiriman</th>
          <th scope="col">Barang</th>
          <th scope="col">Review</th>
          <th scope="col">Tanggal Review</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mahkota merk x warna biru</td>
          <td>Lumayan bagus</td>
          <td>19 Juli 2019</td>
          <td>
          <a id="update-barang" class="btn btn-primary text-uppercase" type="button" href='update-review'>Update</a>
          <a id="delete-barang" class="btn btn-danger text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Delete</a>
        </td>
        </tr>

        <tr>
          <th scope="row">dst</th>
          <td>dst</td>
          <td>dst</td>
          <td>dst</td>
          <td>
          <a id="update-barang" class="btn btn-primary text-uppercase" type="button" href='update-review'>Update</a>
          <a id="delete-barang" class="btn btn-danger text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Delete</a>
        </td>
        </tr>
      
        </tbody>
      </table>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          </div>
          <div class="modal-body"><br>Are you sure want to delete this item?<br><br></div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss='modal'>YES</button>
          <button type="button" class="btn btn-danger" data-dismiss='modal'>CANCEL</button>
          </div>
        </div>
        </div>
      </div>
      
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
          </a>
        </li>
        </ul>
      </nav>
      
      </div>
    </div>
  
  </section>
  
  
{% endblock content %}