{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'temp.css' %}">
    <!-- <link rel = "stylesheet" type = "text/css" href = "{% static 'chatBarangApp/main.css' %}"> -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" style='background-color:#212529'>

  <!-- Page Title-->
  <title> ToysRent </title>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" id = "brandAdmin" href="#page-top">Toys Rent</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Barang</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/afrah/barang/">Buat Pesanan</a>
                    <a class="dropdown-item" href="/afrah/barang/">Daftar Pesanan</a>
                  </div>
                </li>
          <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger active dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shipment</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/afrah/barang/">Tambah Pengiriman</a>
                    <a class="dropdown-item" href="/afrah/barang/">Daftar Pengiriman</a>
                  </div>
                </li>
          <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Chat</a>
              </li>
          <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Review</a>
        </li>
        <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Logout</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'temp.css' %}">
    <!-- <link rel = "stylesheet" type = "text/css" href = "{% static 'chatBarangApp/main.css' %}"> -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" style='background-color:#212529'>

  <!-- Page Title-->
  <title> ToysRent </title>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" id = "brandAdmin" href="#page-top">Toys Rent</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Barang</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/afrah/barang/">Buat Pesanan</a>
                    <a class="dropdown-item" href="/afrah/barang/">Daftar Pesanan</a>
                  </div>
                </li>
          <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger active dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shipment</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/afrah/barang/">Tambah Pengiriman</a>
                    <a class="dropdown-item" href="/afrah/barang/">Daftar Pengiriman</a>
                  </div>
                </li>
          <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Chat</a>
              </li>
          <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Review</a>
        </li>
        <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Logout</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Item list table-->
  <section>
  
    <div class='container'>
      <div class = "partsTitleText text-left">Daftar List</div><br>
      
      <!-- Table -->
      <table class="table" style='color:white'>
        <thead>
        <tr>
          <th scope="col">Id Pengiriman</th>
          <th scope="col">Daftar Barang - Id</th>
          <th scope="col">Harga Total</th>
          <th scope="col">Tanggal Pengiriman</th>
          <th scope="col">Action on Barang</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td><li>A - 1</li> <li>B - 1</li></td>
          <td>Rp.60000</td>
          <td>20 April 2019</td>
          <td>
            <a id="update-barang" class="btn btn-primary text-uppercase" type="button" href='update-anggota'>Update</a>
          <a id="delete-barang" class="btn btn-danger text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Delete</a>
          <a id="add-barang" class="btn btn-success text-uppercase" type="button" href='review'>Add Review</a>

        </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><li>C - 2</li> <li>D - 2</li></td>
          <td>Rp.80000</td>
          <td>19 Juli 2019</td>
          <td>
            <a id="update-barang" class="btn btn-primary text-uppercase" type="button" href='update-anggota'>Update</a>
          <a id="delete-barang" class="btn btn-danger text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Delete</a>
          <a id="add-barang" class="btn btn-success text-uppercase" type="button" href='review'>Add Review</a>

        </td>
        </tr>
        </tbody>
      </table>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          </div>
          <div class="modal-body"><br>Are you sure want to delete this item?<br><br></div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss='modal'>YES</button>
          <button type="button" class="btn btn-danger" data-dismiss='modal'>CANCEL</button>
          </div>
        </div>
        </div>
      </div>
      
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
          </a>
        </li>
        </ul>
      </nav>
      
      </div>
    </div>
  
  </section>
  
  
</body>

<!-- Custom scripts for this template -->
<script src="{% static 'agency.min.js' %}"></script>

  
  <!-- Item list table-->
  <section>
  
    <div class='container'>
      <div class = "partsTitleText text-left">Daftar List</div><br>
      
      <!-- Table -->
      <table class="table" style='color:white'>
        <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Item Name</th>
          <th scope="col">Category</th>
          <th scope="col">Action on Barang</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>A</td>
          <td>[Lihat barang-barang]</td>
          <td>
          <a id="update-barang" class="btn btn-primary text-uppercase" type="button" href='/update-item/'>Update</a>
          <a id="delete-barang" class="btn btn-danger text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Delete</a>
          <a id="add-barang" class="btn btn-success text-uppercase" type="button" href='/add-item/'>Add</a>
        </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>B</td>
          <td>[Lihat barang-barang]</td>
          <td>
          <a id="update-barang" class="btn btn-primary text-uppercase" type="button" href='/update-item/'>Update</a>
          <a id="delete-barang" class="btn btn-danger text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Delete</a>
          <a id="add-barang" class="btn btn-success text-uppercase" type="button" href='/add-item/'>Add</a>
          </td>
        </tr>
        </tbody>
      </table>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          </div>
          <div class="modal-body"><br>Are you sure want to delete this item?<br><br></div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss='modal'>YES</button>
          <button type="button" class="btn btn-danger" data-dismiss='modal'>CANCEL</button>
          </div>
        </div>
        </div>
      </div>
      
      <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
          </a>
        </li>
        </ul>
      </nav>
      
      </div>
    </div>
  
  </section>
  
  
</body>

<!-- Custom scripts for this template -->
<script src="{% static 'agency.min.js' %}"></script>
