{% extends 'navAnggota.html' %}
{% load static %}

 {% block content %}


  <!-- Header -->
  <header class="masthead">
      <section>
  <div class='container'>
    <div class = "partsTitleText text-left">Form Review</div><br>
     <div class="col-lg-12">
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
        <div class="row">
          <div class="col-md-6">
            
        <div class="form-group">
                    <p style='color:white'>Barang Pesanan:</p>
                    <div class="dropdown">
          <select class="custom-select d-block w-100" id="nama-item" name="barang" required>
            <option value="">Pilih Barang</option>
            {% for barang in barangs %}
              <option value="{{barang.nama_item}}">{{barang.nama_item}}</option>
            {% endfor %}
          </select>
        </div> </div>

                  
          <div class="form-group">
            <p style='color:white'>Review:</p>
            <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
            <p class="help-block text-danger"></p>
          </div>
                  
          <br>
          <button id="registadmin" class="btn btn-primary btn-lg text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Submit</button>
          
          </div>
          
          <div class="col-md-1"></div>
          <div class="col-md-5">
          <img style='padding: 0px 40px 15px 10px;' class="img-fluid rounded-circle mb-3" src="{% static 'pic/1.jpg' %}" alt="">
          </div>

        </div>
        </form>
      </div>
          
    </div>
    </div>
  </section>

  </header>    

    
   {% endblock content %}