{% extends 'navAnggota.html' %}
{% load static %}

 {% block content %}

  <!-- Header -->
  <header class="masthead">
      <section>
  <div class='container'>
    <div class = "partsTitleText text-left">Update Pengiriman</div><br>
     <div class="col-lg-12">
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
        <div class="row">
          <div class="col-md-6">

          <div class="form-group">
            <p style='color:white'>Buat Pesanan:</p>
            <input class="form-control" id="name" type="text" placeholder="Masukkan Pesanan *" required="required" data-validation-required-message="Masukkan Pesanan.">
            <p class="help-block text-danger"></p>
          </div>
          
          <div class="form-group">
            <p style='color:white'>Alamat Tujuan:</p>
            <input class="form-control" id="name" type="text" placeholder="Masukkan alamat Anda *" required="required" data-validation-required-message="Masukkan Alamat.">
            <p class="help-block text-danger"></p>
          </div>
          
          <div class="form-group">
            <p style='color:white'>Tanggal Pengiriman:</p>
            <input class="form-control" id="name" type="text" placeholder="Tanggal hari ini *" required="required" data-validation-required-message="Masukkan tanggal pengiriman.">
            <p class="help-block text-danger"></p>
          </div>
          
          <div class="form-group">
            <p style='color:white'>Metode:</p>
            <input class="form-control" id="name" type="text" placeholder="Masukkan metode yang digunakan *" required="required" data-validation-required-message="Masukkan metode.">
            <p class="help-block text-danger"></p>
          </div>
                  
          <br>
          <button id="registadmin" class="btn btn-primary btn-lg text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Submit</button>
          
          </div>
          
          <div class="col-md-1"></div>
          <div class="col-md-5">
          <img style='padding: 20px 40px 15px 10px;' class="img-fluid rounded-circle mb-3" src="{% static 'pic/1.jpg' %}" alt="">
          </div>

        </div>
        </form>
      </div>
          
    </div>
    </div>
  </section>

  </header>


 {% endblock content %}