{% extends 'navAdmin.html' %}
{% load static %}

{% block content %}
<!-- ADMIN : Create Level -->
<section>
	<div class='container'>
		<div class = "partsTitleText text-left">Create Level</div><br>
		<div class="col-lg-12">
			
			<form id="levelForm" name="sentMessage" novalidate="novalidate" method="POST" action="/add-new-level/">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<p style='color:white'>Nama level:</p>
							<input class="form-control"  name="nama_level_form" type="text" required="required" data-validation-required-message="Please enter item name.">
							<p class="help-block text-danger"></p>
						</div>

						<div class="form-group">
							<p style='color:white'>Minimum poin:</p>
							<input class="form-control" name= "min_poin_form" type="text" required="required" data-validation-required-message="Please enter item name.">
							<p class="help-block text-danger"></p>
						</div>

						<div class="form-group">
							<p style='color:white'>Deskripsi:</p>
							<input class="form-control" name ="deskripsi_form" type="text" required="required" data-validation-required-message="Please enter item name.">
							<p class="help-block text-danger"></p>
						</div>
						
						<br>
						<button id="sendMessageButton" class="btn btn-primary btn-lg text-uppercase" type="submit">Submit</button>
					
					</div>
					
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<img style='padding: 50px 40px 15px 10px;' class="img-fluid rounded-circle mb-3" src="{% static 'add.jpg' %}" alt="">
					</div>
				</div>
			</form>
		</div>			
	</div>
</section>
{% endblock content %}