{% extends 'navAdmin.html' %}
{% load static %}

{% block content %}
<!-- ADMIN : Lihat Daftar Level -->
<section>
	<div class='container'>
		<div class = "partsTitleText text-left">Daftar Level</div><br>
		
		<!-- Table -->
		<table class="table" style='color:white'>
			<thead>
				<tr>
					<th scope="col">No.</th>
					<th scope="col">Nama Level</th>
					<th scope="col">Deskripsi</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			
			<tbody>
				{% for level in levels %}
				<tr>
					<th scope="row">1</th>
					<td> {{level.0}} </td>
					<td> {{level.2}} </td>
					<td>
						<a id="update-level" class="btn btn-primary text-uppercase" type="button" data-toggle="modal" data-target="#updateModal">Update</a>
						<a id="delete-level" class="btn btn-danger text-uppercase" type="button" data-toggle="modal" data-target="#exampleModal">Delete</a>
					</td>
				</tr>
				{%endfor%}

			</tbody>
		</table>
		
		<!-- Delete Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Delete Level</h5>
					</div>
					<div class="modal-body"><br>Are you sure want to delete this item?<br><br></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss='modal'>YES</button>
						<button type="button" class="btn btn-danger" data-dismiss='modal'>CANCEL</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Update Modal -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Update Pesanan</h5>
					</div>
					<div class="modal-body">Nama Level: Goldie<br>Deskripsi: The Best Of All<br>Minimum Poin: 1900</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss='modal'>CANCEL</button>
						<button type="button" class="btn btn-primary" data-dismiss='modal'>UPDATE</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
					</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</section>
{% endblock content %}