{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'chatBarangApp/temp.css' %}">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" style='background-color:#212529'>

 <!-- Navigation Anggota-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" id = "brandAdmin" href="/home/">ToysRent</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
         <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="/member-profile/">Profil</a>
		  </li>
		  
		  <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="/member-item-list/">Item</a>
		  </li>
			  
		  <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="/anggota_barang_list/">Barang</a>
		  </li>
    
    <li class="nav-item dropdown">
          <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pesanan</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="/create-pesanan/">Tambah Pesanan</a>
      <a class="dropdown-item" href="/daftar-pesanan/">Daftar Pesanan</a>
          </div>
        </li>	  
		  
		  <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pengiriman</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/create-pesanan/">Tambah Pesanan</a>
                <a class="dropdown-item" href="/daftar-pesanan/">Daftar Pesanan</a>
            </div>
          </li>		
		  
		  <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="/chatAnggota/">Chat</a>
		  </li>		  
		  
		  <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/review">Review</a>
        </li>
		  			  
		  <li class="nav-item">
			<a class="nav-link js-scroll-trigger" href="/home/">Logout</a>
		  </li>
		  
        </ul>
      </div>
    </div>
  </nav>
  <div id = "site-wrapper">
  {% block content %}
  {% endblock content %}
  </div>
  
  <!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'chatBarangApp/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'chatBarangApp/contact_me.js' %}"></script>


<!-- Custom scripts for this template -->
<script src="{% static 'chatBarangApp/agency.min.js' %}"></script>

  </body>
</html>  