{% extends 'navbarAdmin.html' %}
{% block content %}
<!-- ADMIN : Create Barang -->
<section>
	<div class='container'>
    <div class = "partsTitleText text-left">Create Barang</div><br>
    <div class="col-lg-12">
      <form id="contactForm" name="sentMessage" novalidate="novalidate">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <p style='color:white'>Id barang:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>
        
            <!-- dropdown -->
            <div class="form-group">
              <p style='color:white'>Nama Item:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>
            
            <div class="form-group">
              <p style='color:white'>Warna:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>  
            <div class="form-group">
              <p style='color:white'>Url Foto:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>
            
            <div class="form-group">
              <p style='color:white'>Kondisi:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>

            <div class="form-group">
              <p style='color:white'>Lama Pengguna:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p style='color:white'>Penyewa:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>

            <div class ="inbetween">Info Barang</div>
            <div class ="levels">Bronze</div>
            <div class="form-group">
              <p style='color:white'>Persen Royalti:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p style='color:white'>Harga Sewa:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>
            <div class ="levels">Silver</div>
            <div class="form-group">
              <p style='color:white'>Persen Royalti:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p style='color:white'>Harga Sewa:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>
            <div class ="levels">Gold</div>
            <div class="form-group">
              <p style='color:white'>Persen Royalti:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <p style='color:white'>Harga Sewa:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>

            <button id="sendMessageButton" class="btn btn-primary btn-lg text-uppercase" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>  
  </div>	
</section>
{% endblock content %}