{% extends 'navbarAdmin.html' %}

{% block content %}
<!-- ADMIN : Chat -->
<section>
  <div class="container">
      <div class = "partsTitleText text-left">Isi Chat</div>
  </div>

  <div class="jumbotron jumbotron-fluid menulisPesanAdmin">
    <div class="container">
      <div class = "partsTitleText text-left">Menulis Pesan</div>
  </div>
  <div class='container'>
    <div class="col-lg-12">
      <form id="contactForm" name="sentMessage" novalidate="novalidate">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <p style='color:white'>Pesan:</p>
              <input class="form-control" id="name" type="text" required="required" data-validation-required-message="Please enter item name.">
              <p class="help-block text-danger"></p>
            </div>
                    
            <div class="form-group">
              <p style='color:white'>Kirim Ke Anggota:</p>
              <input class="form-control" id="text" type="text" required="required" data-validation-required-message="Please enter description.">
              <p class="help-block text-danger"></p>
            </div>                
            
            <button id="sendMessageButton" class="btn btn-primary btn-lg text-uppercase" type="submit">Submit</button>          
          </div>
        </div>
      </form>
    </div>  
  </div>
</section>
{% endblock content %}