{% extends 'navbarAnggota.html' %}

{% block content %}
 <!-- ANGGOTA : Chat -->
<section>
	<div class='container'>
		<div class = "partsTitleText text-left">Isi Chat</div><br>
	</div>	
	<div class='container'>
		<div class = "partsTitleText text-left">Menulis Pesan</div><br>
			<div class="col-lg-12">
				<form id="contactForm" name="sentMessage" novalidate="novalidate">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<p style='color:white'>Pesan:</p>
								<input class="form-control" id="name" type="text" placeholder="Your Message *" required="required" data-validation-required-message="Please enter your SSN.">
								<p class="help-block text-danger"></p>
							</div>
							<br>
							<button id="sendMessageButton" class="btn btn-primary btn-lg text-uppercase" type="submit">Login</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock content %}