{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'chatBarangApp/temp.css' %}">
    <!-- <link rel = "stylesheet" type = "text/css" href = "{% static 'chatBarangApp/main.css' %}"> -->
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>




</head>

<body>

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
                <div class="container">
                  <a class="navbar-brand js-scroll-trigger" id = "brandAdmin" href="#page-top">Toys Rent</a>
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Item</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link js-scroll-trigger dropdown-toggle active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Daftar barang</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/afrah/barang/">Create, Update, Delete</a>
                                <a class="dropdown-item" href="/afrah/dbarang/">Daftar</a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Level</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#team">Pesanan</a>
                          </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Pengiriman</a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/afrah">Chat</a>
                          </li>
                      <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Review</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Logout</a>
                    </li>
                    </ul>
                  </div>
                </div>
              </nav>

  <!-- Header -->
  <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
                <div class="titlePage text-center"><b>Daftar Barang</b></div>
                <!-- <div class="intro-heading text-uppercase">It's Nice To Meet You</div> -->
    </div>
      </div>
        
    </header>

    <div class="jumbotron jumbotron-fluid barangBarang">
            <div class="container">
                <div class = "partsTitleText text-left">Barang-Barang</div>
            </div>
    </div>



    

    
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'chatBarangApp/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'chatBarangApp/contact_me.js' %}"></script>


<!-- Custom scripts for this template -->
<script src="{% static 'chatBarangApp/agency.min.js' %}"></script>



</body>
</html>