/*!
 * Start Bootstrap - Agency v5.0.7 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */body{overflow-x:hidden;
    font-family:Montserrat,Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}
.jumbotron{
    margin: 0px;
    border-radius: 0px;
}

p{
	line-height:1.75
}

a{
	color:#fed136
}

a:hover{
	color:#fec503
}

.text-primary{
	color:#fed136!important
}

h1,h2,h3,h4,h5,h6{
	font-weight:700;font-family:Montserrat,Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

section{
	padding:50px 0;
}

section h2.section-heading{
	font-size:40px;margin-top:0;margin-bottom:15px
}

 section h3.section-subheading{
	font-size:16px;font-weight:400;margin-bottom:75px;text-transform:none;
}

section h2.section-footer{
	font-size:20px;font-weight:1000;text-transform:none;
}

section h3.section-footer{
	font-size:16px;font-weight:400;text-transform:none;
}
 
@media (min-width:768px){
	section{
		padding:50px 0
	}
}

.btn{
	font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';font-weight:700
}

.btn-xl{
	font-size:18px;padding:20px 40px
}

.btn-primary{
	background-color:#fed136;border-color:#fed136
}
.btn-primary:active,.btn-primary:focus,.btn-primary:hover{
	background-color:#fec810!important;border-color:#fec810!important;color:#fff
}

.btn-primary:active,.btn-primary:focus{
	-webkit-box-shadow:0 0 0 .2rem rgba(254,209,55,.5)!important;box-shadow:0 0 0 .2rem rgba(254,209,55,.5)!important
}

::selection{
	background:#fed136;text-shadow:none
}

img::selection{
	background:0 0
}

img::-moz-selection{
	background:0 0
}

#mainNav{
	background-color:#212529
}

#mainNav .navbar-toggler{
	font-size:12px;right:0;padding:13px;text-transform:uppercase;color:#fff;border:0;background-color:#fed136;font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

#mainNav .navbar-brand {color:#fed136;font-family:'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

#mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
	color:#fec503
}

#mainNav .navbar-nav .nav-item .nav-link{
	font-size:90%;font-weight:400;padding:.75em 0;letter-spacing:1px;color:#fff;font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

#mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover{
	color:#fed136
}

@media (min-width:992px){
	#mainNav{
		padding-top:25px;padding-bottom:25px;-webkit-transition:padding-top .3s,padding-bottom .3s;transition:padding-top .3s,padding-bottom .3s;border:none;background-color:transparent
	}

	#mainNav .navbar-brand{
		font-size:1.75em;-webkit-transition:all .3s;transition:all .3s
	}

	#mainNav .navbar-nav .nav-item .nav-link{
		padding:1.1em 1em!important
	}

	#mainNav.navbar-shrink{
		padding-top:0;padding-bottom:0;background-color:#212529
	}

	#mainNav.navbar-shrink .navbar-brand{
		font-size:1.25em;padding:12px 0
	}
}

header.masthead{
	background-color:#212529 ;background-repeat:no-repeat;background-attachment:scroll;background-position:center center;background-size:cover; 
	}

 /* header.masthead .intro-text{padding-top:150px;padding-bottom:100px} */
 /* header.masthead .intro-text .intro-lead-in{font-size:22px;font-style:italic;line-height:22px;color:white; margin-bottom:25px;font-family:'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'} */
.
titlePage{
	color:#fec503; font-size: 50px;
	}
	
.descriptionTitle{
	color:#fec503; font-size: 25px;
	}
header.masthead .intro-text .intro-heading{
	font-size:50px;font-weight:700;line-height:50px;margin-bottom:25px;font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

@media (min-width:768px){
	header.masthead .intro-text{
		padding-top:300px;padding-bottom:200px
		}

header.masthead .intro-text .intro-lead-in{
	font-size:40px;font-style:italic;line-height:40px;margin-bottom:25px;font-family:'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
	}

	header.masthead .intro-text .intro-heading{
		font-size:75px;font-weight:700;line-height:75px;margin-bottom:50px;font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
	}
}

.isiChatAdmin, .isiChatAnggota, .menulisPesanAdmin, .menulisPesanAnggota, .barangC, .barangU, .barangBarang {
	background-color:#212529; height: 510px; margin:0px;
}

.partsTitleText { 
	padding-top:50px;color:#fec503; font-size: 30px;
}

.thisform{
	padding-top: 10px;
}

